@media (max-width:1140px) {
    .main-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-card {
        margin-bottom: 30px;
    }
}

@media (max-width:900px) {
    .header-nav__list {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background: rgba(0, 0, 0, 0.431);
        gap: 30px;
        transform: translateX(100%);
        transition: 500ms;
    }

    .header-nav__link {
        font-size: 40px;
    }

    .burger {
        display: block;
        color: #fff;
        font-size: 40px;
        position: fixed;
        right: 3%;
        z-index: 100;
    }

    .burger:hover~.header-nav__list {
        transform: translateX(0);
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        background: #322e417b;
    }

    .footer-content {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .footer-list {
        margin-top: 30px;
        margin-left: -100px;
    }
}

@media (max-width: 575px) {
    .card {
        width: 100%;
    }

    .footer-form {
        padding: 0 15px;
        width: 100%;
        max-width: 350px;
    }

    .header-content {
        background: url(https://i.pinimg.com/474x/94/ef/28/94ef2825394c7ebc386e9af7ca41b66a--nike-wallpaper-iphone-hd-wallpapers-for-iphone.jpg);
        background-size: cover;
        text-align: center;
    }
    
}


